{% extends 'base.html' %}

{% block content %}


<div class="row mt-4">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i><b>Supervisors</b></i></h5>
          <p class="card-text">This is all Supervisors of Information System Department .</p>
          <a href="#" class="btn btn-primary"><i><b>Get List</b></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i><b>Groups</b></i></h5>
          <p class="card-text">This is all year four student of Information System Department .</p>
          <a href="#" class="btn btn-primary"><i><b>Get List</b></i></a>
        </div>
      </div>
    </div>
  </div>
        <style>
            h2 {
            text-align: center;
            padding: 10px;
            }
        </style>
   <h2><i><b>Abaut projects</b></i></h2>
        
    <div class="card-group mt-4">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title"><i><b>Asigned projects</b></i></h5>
            <p class="card-text">This is asigned project to all groups .</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <a href="#" class="btn btn-primary"><i><b>Get List</b></i></a>
          </div>
        </div>
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title"><i><b>Uploaded files</b></i></h5>
            <p class="card-text">Look Uploaded files.</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <a href="#" class="btn btn-primary"><i><b>Get Uploaded files</b></i></a>
          </div>
        </div>
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title"><i><b>Groups Progress</b></i></h5>
            <p class="card-text">Look how groups works .</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <a href="#" class="btn btn-primary"><i><b>Look yourc Progress</b></i></a>
          </div>
        </div>
      </div>
  </div>
 {% endblock %}